@font-face {
  font-family: "FontAwesome";
  src: url("../icon-font/fonts/fontawesome-webfont.woff2") format('woff2'),
  		url("../icon-font/fonts/fontawesome-webfont.woff") format('woff'),
  		url("../icon-font/fonts/fontawesome-webfont.eot") format('eot'),
  		url("../icon-font/fonts/fontawesome-webfont.ttf") format('truetype'),
  		url("../icon-font/fonts/fontawesome-webfont.svg") format('svg'),
  		url("../icon-font/fonts/FontAwesome.otf") format('OpenType');
  font-style: normal;
  font-weight: normal;
}
body{
	margin: 0;
	font-family: "FontAwesome";
}
.container{
	background-color: #2d5358;
	width: 100%;
}
.section-first-home{
	color: #eaeeef;
	text-transform: uppercase;
}
.section-second-services p,
.section-forth-portfolio,
.section-sixth-contact,
.footer{
	color: #7d979c;
}
.section-third-about,
.section-third-about > .title h2,
.section-fifth-team,
.section-fifth-team > .title h2{
	color: #eaeeef;
}
.section-third-about,
.section-third-about,
.section-fifth-team{
	background-color: #25bad0;
}
.title{
	text-align: center;
	padding: 20px 3px;
	margin: 0 auto;
}
.title h2{
	text-transform: uppercase;
	font-weight: 400;
	color: #25bad0;
}
.main-top{
	display: flex;
	padding: 0 15px;
	position: fixed;
	top: 0;
	background: #2d5358;
	z-index: 50;
	width: 100%;
	max-width: 1280px;
	box-sizing: border-box;
}
.logo a{
	display: block;
	color: #7d979c;
	text-decoration: none;
	font-size: 20pt;
	line-height: 2em;
}
.dropdown{
	margin: auto 0 auto auto;
}
.dropbtn {
	padding: 0;
	border-width: 0px;
	background-color: #2d5358;
}
.menu-button img{
	width: 42px;
	height: 32px;
	border: 1px solid #c0c3c3;
}
.menu{
	display: none;
	position: absolute;
	right: 0;
	top: 54px;
	z-index: 1;
	width: 100%;
	border-top: 1px solid white;
	background-color: #2d5358;
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.menu li a{
	display: block;
	text-decoration: none;
	color: #7d979c;
	font-size: 13.5pt;
	line-height: 3em;
	padding-left: 5px;
}
.menu li a:hover { 
    color: #bde0e6;
}
 .show {
 	display:block;
 }
.main-center{
	position: relative;
}
.background-image{
	background-image: url("../images/intro-bg.jpg");
	background-position: center;
	background-size: cover;
	height: 480px;
}
.background-image:before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -moz-linear-gradient(#0c3c45, #5a797e);
	opacity: 0.8;
}
.main-title{
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
}
.main-title h1, p{
	font-weight: 300;
}
.main-title h1{
	font-size: 33pt;
}
.main-title p{
	font-size: 11.25pt;
}
.main-title h1 span{
	color: #25bad0;
	font-weight: bold;
}
.learn-more-button,
.send-message{
	border: 2px solid #25bad0;
	width: 133px;
	margin: 35px auto 0 auto;
	line-height: 2.5em;
	text-transform: uppercase;
}
.learn-more-button a,
.send-message a{
	display: block;
	color: #25bad0;
	text-decoration: none;
}
.section-second-services h3{
	text-transform: uppercase;
	color: #25bad0;
}
.dot {
    height: 100px;
    width: 100px;
    background-color: #25bad0;
    border-radius: 50%;
   	display: inline-block;
   	position: relative;
}
.fa.fa-desktop,
.fa.fa-rocket,
.fa.fa-line-chart,
.fa.fa-gears{
	color: #2d5358;
	position: absolute;
	left: 0;
	top: 38%;
	width: 100%;
	text-align: center;
	font-size: 24px;
}
.services-part{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 60px;
}
.web-design,
.app-development,
.branding,
.marketing{
	width: 50%;
	padding: 0 3px;
	text-align: center;
}
.image{
	width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	max-width: 600px;
	margin: 0 auto;
}
.image img{
	width: 100%;
}
.text{
	padding: 0 25px 50px 25px;
	box-sizing: border-box;
	width: 100%;
}
.text h3{
	text-transform: capitalize;
	color: #2d5358;
}
.text p{
	box-sizing: border-box;
	margin: 0;
}
.btn.active {/*new one*/
	background-color: #666;
	color: white;
}


.filter ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 50%;
	display: block;
}
.filter ul li a{
	display: block;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	color: #25bad0;
	border: 2px solid #25bad0;
}
.filter ul li a:active{
	background-color: #25bad0;
	color: #2d5358;
}
.pictures{
	margin: 10px 0 60px 0;
}
.pict{
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 15px;
	margin: 0 auto;
}
.pictures img{
	width: 100%;
}
.section-fifth-team{
	padding-bottom: 50px;
}
.team{
	text-align: center;
	text-transform: capitalize;
	padding-top: 30px;
}
.team img{
	border-radius: 50%;
	width: 50%;
	max-width: 225px;
}
.team h3{
	color: #2d5358;
}
.section-sixth-contact{
	position: relative;
    z-index: 1;
}
.background-image-contact{
	position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-image: url("../images/contact-bg.jpg");
	background-position: center;
	opacity: 0.2;
	background-size: cover;
}
.form{
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
input[type=text], textarea {
	box-sizing: border-box;
    padding: 5px 0 5px 10px;
    margin: 5px;
    border-radius: 4px;
    border-width: 0px;
    width: 100%;
    background-color:rgba(255,255,255,0.2);
   }
textarea {
	margin-top: 10px; 
}
::placeholder {
    color: #c0c3c3;
    opacity: 1;
}
.icons{
	text-align: center;
	padding: 50px 0px;
}
.fab {
	color: white;
	font-style: normal;
	font-size: 1.5em;
	padding: 5px 20px;
	display: inline-block;
}
.footer{
	text-align: center;
	padding: 20px;
}
@media screen and (min-width: 769px){/*BIG*/
	.title{
		width: 70%;
		padding: 90px 3px 20px 3px;
	}
	.logo a{
		font-size: 15pt;
		line-height: 4.6em;
	}
	.menu-button img{
		display: none;
	}
	.menu{
		display: block;
		top: 0px;
		width: auto;
		border: none;
	}
	.menu ul li {
		float: left;
	}
	.menu ul li a{
		padding: 0px 15px;
		font-size: 10.5pt;
		line-height: 6.5em;
	}
	.background-image{
		height: 630px;
	}
	.mob-only{
		display: none;
	}
	.main-title{
		top: 40%;
	}
	.services{
		overflow: hidden;
	}
	.services-part{
		width: 50%;
		float: left;
	}
	.third-content{
		overflow:hidden;
	}
	.image{
		width: 50%;
		padding: 0 0 15px 30px;
		float: left;
	}
	.text{
		padding: 0 auto 0 25px;
		float: left;
		width: 50%;
	}
	.filter ul{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.filter ul li{
		padding: 0 15px;
	}
	.filter ul li:last-child{
		padding: 0;
	}
	.pictures{
		overflow: hidden;
	}
	.pict{
		width: 25%;
		float: left;
	}
	.team{
		padding: 30px 15px 0 0;
	}
	.photos{
		display: flex;
		justify-content: center;
	}
	.team img{
		width: 75%;
	}
	.form{
		width: 65%;
	}
	.name{
		width: 48%;
		float: left;
		margin-right: 10px;
	}
	.email{
		width: 50%;
		float: left;
	}
	html, body {
  	width: 100%;
  	height: 100%;
}
@media screen and (max-width: 319px){/*SMALLEST*/
	.container{
		min-width: 320px;
		overflow-x: auto;
	}
}
@media screen and (min-width: 1281px){/*BIGGEST*/
	.container{
		max-width: 1280px;
		margin: 0 auto;
	}
	body{
		background-color: #2d5358;
	}
}